name: Debug

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  pages: write
  checks: write

jobs:
  test:
    name: Debug - ${{ github.run_number }}
    timeout-minutes: 300
    runs-on: ubuntu-latest
    continue-on-error: true

    environment:
      name: github-pages
      url: https://x-typo.github.io/playwright-hybrid-e2e

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        env:
          MAIN_USERNAME: ${{ secrets.MAIN_USERNAME }}
          MAIN_PASSWORD: ${{ secrets.MAIN_PASSWORD }}
          UI_BASE_URL: ${{ secrets.UI_BASE_URL }}
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
        run: npx playwright test --config=./configs/playwright.config.ts --project=chromeUI "tests/playwright/features/practices.test.ts" --grep "Visual Test"
        continue-on-error: true

      - name: Install junit-viewer
        run: npm install -g junit-viewer

      - name: Debug Reports - Chrome - Run ${{ github.run_number }}
        id: generate_report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Debug Results - Chrome - Run ${{ github.run_number }}
          path: desktop-junit-reports/junit.xml
          reporter: java-junit
          fail-on-error: false

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2.15.1
        if: always()
        with:
          check_run: false
          files: |
            desktop-junit-reports/junit.xml

      - name: Setup Pages
        if: always()
        uses: actions/configure-pages@v3

      - name: Upload Pages Artifact
        if: always()
        uses: actions/upload-pages-artifact@v3
        with:
          path: playwright-report/

      - name: Deploy to GitHub Pages
        if: always()
        uses: actions/deploy-pages@v4
